<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <title>Fortnite Stat Tracker</title>
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar">
        <div class="nav-container">
            <h2 class="logo">Fortnite Tracker</h2>
            <ul class="nav-links">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
            </ul>
        </div>
    </nav>

    <!-- Main Content -->
    <h1>About</h1>
    <div class="about-container">
        <p>This project was built to provide an easy way to view and compare Fortnite stats in real time. Whether you're a casual player looking to track your progress or a competitive gamer analyzing pro stats, this tracker has got you covered.
        The project is powered by <strong>Flask (Python)</strong> for the backend, fetching real-time stats from the <a href="https://fortnite-api.com/" target="_blank">Fortnite API</a>. The frontend is built with HTML, CSS, and JavaScript to display the data in a user-friendly way.</p>
    </div>
    <footer class="footer">Created By Michael</footer>
    <script src="{{ url_for('static', filename='search.js') }}?v=1"></script>
</body>
</html>
